@model DDAC_Assignment_2._0.Models.IdeaVM

@{
    ViewData["Title"] = "Edit";
}

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Inner Page - Green Bootstrap Template</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link href="~/assets/img/favicon.png" rel="icon">
        <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="~/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
        <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="~/assets/css/style.css" rel="stylesheet">

    </head>

    <body>

        <main id="main">
            <!-- ======= Ideas Page Section ======= -->
            <section id="portfolio" class="portfolio">
                <div class="container">

                    <div class="section-title">
                        <h4>Edit Ideas</h4>
                    </div>

                    <div>
                        <hr />
                        <div class="row">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="IdeaID" />
                                @*<div class="col-lg-6 order-1 order-lg-2">
                                    <img src="@Model.Image" class="img-fluid" style="width:500px;height:500px" alt="">
                                </div>*@
                                <!--<div class="form-group">
        <div class="form-group mt-3">
            <label asp-for="Image" class="control-label"></label>-->
                                @*<input asp-for="Image" class="form-control" />*@
                                <!--<p>@Model.Image</p>
            <input type="file" id="uploadFile" value="@Model.Image" name="images" class="form-control" accept=".jpg,.jpeg,.png" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
    </div>-->
                                <div class="form-group">
                                    <label asp-for="Image" class="control-label"></label>
                                    <input asp-for="Image" class="form-control" />
                                    <span asp-validation-for="Image" class="text-danger"></span>
                                </div>
                                <br />
                                <div class="form-group">
                                    <label asp-for="Title" class="control-label"></label>
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                                <br />
                                <div class="form-group">
                                    <label asp-for="Curator" class="control-label"></label>
                                    <input asp-for="Curator" class="form-control" />
                                    <span asp-validation-for="Curator" class="text-danger"></span>
                                </div>
                                <br />
                                <div class="form-group">
                                    <label asp-for="DatePublish" class="control-label"></label>
                                    <input asp-for="DatePublish" class="form-control" />
                                    <span asp-validation-for="DatePublish" class="text-danger"></span>
                                </div>
                                <br />
                                <div class="form-group">
                                    <label asp-for="Message" class="control-label"></label>
                                    <input asp-for="Message" class="form-control" />
                                    <span asp-validation-for="Message" class="text-danger"></span>
                                </div>
                                @*<div class="form-group mt-3">
                                    <label for="name">Message</label>
                                    <p><u onclick="location.href='@Model.Message';" style="color:#0645AD;cursor:pointer">@Model.Message</u></p>
                                    <input type="file" id="messageFile" name="document" asp-for="@Model.Message" class="form-control" accept=".txt,.docx,.doc,.pdf" />
                                    <span asp-validation-for="@Model.Message" class="text-danger"></span>
                                </div>*@
                                <br />
                                <div class="form-group">
                                    <label>Material</label>
                                    <select asp-for="Material" asp-items='@(new SelectList(ViewBag.Materials,"Material"))' class="form-control" id="material"></select>
                                    <span asp-validation-for="Material" class="text-danger"></span>
                                </div>
                                <br />
                                <div class="form-group">
                                    <label asp-for="Status" class="control-label"></label>
                                    <input type="checkbox" value=false id="statuscheck" name="Status" onclick="checker()" />
                                    <span asp-validation-for="Status" class="text-danger"></span>
                                </div>
                                <br />
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                        <br />
                        <div>
                            <a asp-action="Index">Back to List</a>
                        </div>
                    </div>
                </div>
            </section><!-- End Ideas Page Section -->

        </main><!-- End #main -->

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="~/assets/vendor/php-email-form/validate.js"></script>
        <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>

        <!-- Template Main JS File -->
        <script src="~/assets/js/main.js"></script>

        <script>
            function checker() {
                var checkbox = document.getElementById("statuscheck");

                var checkme = checkbox.value;

                if (checkme == "true") {
                    checkbox.value = false;
                } else if (checkme == "false") {
                    checkbox.value = true;
                }
            }
        </script>

    </body>

</html>

<script>
    window.onload = function () {
        var getStatus = '@ViewData["SignState"]';
        /*Create Room*/
        if (getStatus == null || getStatus == "") {

        } else if (getStatus == "NotSigned") {
            document.getElementById("StatMsg").innerHTML = "Please Login or Register an account to submit an idea.";
            document.getElementById("StatMsg").style.color = "#ff0033";
        }
    };

    function checkFile() {
        var fileElement = document.getElementById("uploadFile");
        var fileExtension = "";
        if (fileElement.value.lastIndexOf(".") > 0) {
            fileExtension = fileElement.value.substring(fileElement.value.lastIndexOf(".") + 1, fileElement.value.length);
        }
        if (fileExtension.toLowerCase() == "jpg" || fileExtension.toLowerCase() == "jpeg" || fileExtension.toLowerCase() == "png") {
            return true;
        }
        else {
            alert("Only .jpg, .jpeg, and .png files are supported");
            return false;
        }
    }

    function checkFile2() {
        var fileElement = document.getElementById("messageFile");
        var fileExtension = "";
        if (fileElement.value.lastIndexOf(".") > 0) {
            fileExtension = fileElement.value.substring(fileElement.value.lastIndexOf(".") + 1, fileElement.value.length);
        }
        if (fileExtension.toLowerCase() == "txt" || fileExtension.toLowerCase() == "doc" || fileExtension.toLowerCase() == "docx" || fileExtension.toLowerCase() == "pdf") {
            return true;
        }
        else {
            alert("Only .txt, .doc, .docx, and .pdf files are supported");
            return false;
        }
    }
</script>
